body,h1,h2,h3,h5,button,a,p,span{
	font-family: 'McLaren', cursive;
}
.boton-juego{
	border-radius: 10px;
	background-color: crimson !important;
	padding: 15px 30px;
	color: white;
	margin:0 auto 0 auto;
	border-color: transparent;
	border: 0px;
	font-weight: 400;
	display: block;
}
h1{
	font-size: 2em;
}
.boton-juego:hover, .boton-juego:focus,.boton-juego:active{
	color: white !important;
	outline: 0px !important;
}
.container-info{
	margin-top: 25vh;
}
.titulo{
	text-align: center;
	margin-bottom: 45px;
}
.jugador{
	display: inline-block;
	margin-bottom: 36px;
	margin-right: 10px;
}
#nombre-jugador1, #nombre-jugador2{
	margin-bottom: 36px;
	display: inline-block;
	width: 35%;
}
.gato-loco-title{
	font-size: 3em;
	text-align: center;
}
table{
	width: 310px;
	height: 310px;
	margin: 0 auto 45px auto;
}
table td{
	border: 3px solid black;
	width: 103.3px;
	height: 103.3px;
}
#uno, #dos, #tres{
	border-top: 0px;
}
#uno, #cuatro, #siete{
	border-left: 0px;
}
#tres, #seis, #nueve{
	border-right: 0px;
}
#siete, #ocho, #nueve{
	border-bottom: 0px;
}
.circulo span, .equis span{
	font-size: 3em;
}
.margin-ocho{
	margin-top: 8vh;
}
.ganador{
	font-size: 2em;
	display: inline-block;
}
.form-control:focus{
	outline: none !important;
	-webkit-box-shadow:none;
	box-shadow: none;
	border: 1px solid #CCCCCC;
}
.menu p{
	display: inline-block;
}
.menu{
	position: fixed;
	right: 30px;
    top: 6vh;
}
.vh-2{
	right: 40px;
    top: 2vh;
}
a{
	text-decoration: none !important;
}
.div-historial{
	border: 2px solid black;
    width: 65%;
    margin: 20px auto;
    padding: 21px;
}